* {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.search button {
  height: 30px;
  width: 28px;
  margin-left: -5px;
  background: LightGrey;
  font-size: 12px;
  border: 1px #dfe1e5;
  
  margin-top: 0px;
  margin-right: 16px;
}

.search input[type="text"] {
  
  font-size: 12px;
  width: 200px;
  border: 1px solid #dfe1e5;
  margin-top: 15px;
  height: 30px;
}
.search{
  display: flex;
  
}

.navbarhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 10px 15px;
  height: 50px;
}

.navbar--menu {
  display: flex;
  list-style: none;
  margin-top: 15px;
}

.navbar--menu li {
  margin-left: 20px;
}

.navbar--menu--item a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.nav-right{
  display: flex;
  justify-content: center;
}

/*intro design*/
.introhead {
  display: flex;
  justify-content: space-around;
  background-image: url("back.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: calc(100vh - 70px);
  align-items: center;
}
.width50 {
  width: 50%;
}
.intro-content {
  padding: 20px;
}
.intro-content > p {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: black;
}
.logform {
  display: flex;
  justify-content: center;
  
}

 .form{
  background-color: grey;
  padding: 15px 15px;
  box-shadow: 0 0 10px 10px;
 } 
  
  
  
  


.imginfo {
  background-color: lightgrey;
  padding: 15px 15px 35px 15px;
}
.imginfo > ul {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li > img {
  border-radius: px;
  width: 190px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
}
.questions {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.ques {
  list-style-type: none;
}
.q1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: bold;

  width: 500px;
}
.ques li {
  margin: 20px 0;
}
.foot {
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: black;
}
.foot {
  text-decoration: none;
  list-style-type: none;
  color: white;
  padding-bottom: 40px;
  margin-top: 20px;
}

.list > li {
  list-style-type: none;
  margin: 10px 0;
}
.list  li  a {
  color: white;
  text-decoration: none;
}

/*form designs */
.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

.form-input {
  height: 30px;

  margin-top: 8px;
  margin-left: 10px;
  border: 1px solid #dfe1e5;
}
.form-button {
  display: flex;
  justify-content:space-between;
}
.form-reg {
  background-color: #008cba;
  width: 130px;
  height: 40px;
  border-radius: 7px;
  color: #fff;
  font-size: 15px;
  border: none;
}

.form-contact {
  background-color: #008cba;
  width: 130px;
  height: 40px;
  border-radius: 7px;
  color: #fff;
  font-size: 15px;
  border: none;
  /* margin-left: 105px; */
}
